<div class="jumbotron text-center">
	<h1>What is RoadRant?</h1><br>
	<p>Road rant is the best way to keep track of anyone who stands out to you on the chaotic place we call the road! Get cut off? Make sure everyone knows they're an asshole! See someone help someone stranded on the side of the road? Be sure everyone knows what a saint they are.</p><br><br>
	<h1>Why use RoadRant?</h1><br>
	<p>The same reason your old friends from highschool complain on facebook about... everything. Plus at least we're easier to use than <b>the Yik Yak API</b>, so what do you have to lose?</p><br><br>
	
	<div class="small text-muted"><p><i>Please don't be an idiot and use this while driving</i></p></div>
</div>
